Source: device-boneblack
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: device-boneblack
Architecture: all
Description: Root package for the Beaglebone Black target
 This is the root package for the Beaglebone Black target.
 It defines the most generic, plain-vanilla functional configuration.
Depends:
 board-boneblack,
 dtb-boneblack,
 bootscr-am335x,
 mount-mmcblk0p1-as-boot,
 baseconfig-ptux,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 ${misc:Depends}
