Source: device-boneblack
Section: embedded
Priority: optional
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 4.3.0
Vcs-Git: https://github.com/bgat/device-boneblack.git

Package: device-boneblack
Architecture: all
Multi-Arch: foreign
Description: Root package for Beaglebone Black
 This is the root package for the Beaglebone Black target.
 It defines the most generic, plain-vanilla functional configuration.
Depends:
 default-root-sshkey-device,
 board-boneblack,
 bootscr-am335x,
 dtb-boneblack,
 baseconfig-ptux,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools | kmod,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 avahi-daemon,
 usbutils,
 iw,
 wireless-tools,
 firmware-realtek,
 ${misc:Depends}

Package: device-boneblackwireless
Architecture: all
Multi-Arch: foreign
Description: Root package for Beaglebone Black Wireless
 This is the root package for the Beaglebone Black Wireless target.
 It defines the most generic, plain-vanilla functional configuration.
Depends:
 default-root-sshkey-device,
 board-boneblackwireless,
 bootscr-am335x,
 dtb-boneblackwireless,
 baseconfig-ptux,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 avahi-daemon,
 usbutils,
 iw,
 wireless-tools,
 firmware-realtek,
 ${misc:Depends}


Package: device-bonegreen
Architecture: all
Multi-Arch: foreign
Description: Root package for Beaglebone Green
 This is the root package for the Beaglebone Green target.
 It defines the most generic, plain-vanilla functional configuration.
Depends:
 default-root-sshkey-device,
 board-bonegreen,
 bootscr-am335x,
 dtb-bonegreen,
 baseconfig-ptux,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 avahi-daemon,
 usbutils,
 iw,
 wireless-tools,
 firmware-realtek,
 ${misc:Depends}

Package: device-bonegreenwireless
Architecture: all
Multi-Arch: foreign
Description: Root package for Beaglebone Green Wireless
 This is the root package for the Beaglebone Green Wireless target.
 It defines the most generic, plain-vanilla functional configuration.
Depends:
 default-root-sshkey-device,
 board-bonegreenwireless,
 bootscr-am335x,
 dtb-bonegreenwireless,
 baseconfig-ptux,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 avahi-daemon,
 usbutils,
 iw,
 wireless-tools,
 firmware-realtek,
 ${misc:Depends}
